extends ./layout/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote rem ipiculus mus. Aliquam erat volutpat. Sed sit amet leo interdum, mattis sapien vel, rutrum mauris. Cras bibendum a dui vitae sagittis. Donec blandit et augue vel accumsan. Fusce ullamcorper dolor dolor, sit amet commodo nunc fringilla fermentum. Cras dapibus porttitor enim, in gravida ligula efficitur id. Duis bibendum fringilla massa, eu pharetra dui pulvinar sit amet. Vestibulum convallis sapien eget enim iaculis maximus non at ipsum. Nullam ullamcorper magna sit amet nibh fringilla, sit amet dignissim tellus eleifend.

                p Etiam ut mi et tortor tincidunt placerat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur euismod, libero vitae maximus consequat, ipsum tortor blandit quam, sit amet blandit ante sem non lorem. Aenean vel convallis libero. Vivamus justo augue, porta at eros eu, accumsan iaculis risus. Vestibulum vestibulum alique

                p m ut mi et tortor tincidunt placerat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur euismod, libero vitae maximus consequat, ipsum tortor blandit quam, sit amet blandit ante sem non lorem. Aenean vel convallis libero. Vivamus justo augue, porta at eros eu, accumsan iaculis risus. Vestibulum vestibulum aliquet egestas. Aliquam eu sem mi. Nullam rutrum facilisis ligula, nec iaculis justo auctor sed. Maecenas tempus metus mattis egestas vehicula. Vestibul


    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="Icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p ncidunt placerat. Interdum et malesuada fames ac ante ipsum primis in fau ncidunt placerat. Interdum et malesuada fames ac ante ipsum primis in fau

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="Icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Destinos
                    p ncidunt placerat. Interdum et malesuada fames ac ante ipsum primis in fau ncidunt placerat. Interdum et malesuada fames ac ante ipsum primis in fau
                
                .col-md-4
                    img(src="img/icono_precios.svg", alt="Icono precios", class="img-fluid mb-4")
                    h2.mb-4 Precios
                    p ncidunt placerat. Interdum et malesuada fames ac ante ipsum primis in fau ncidunt placerat. Interdum et malesuada fames ac ante ipsum primis in fau